{% extends 'index.html' %}
{% block content %} 
<div class="load">
	<div class="loadMoon">
	</div>
	<div class="loadBox">
		<div class="loadHead">
			<span style="color: gold;
    margin-right: 10px;">밤</span>편지
		</div>
		<div class="loadBtn" onClick="location.href='/main';">
			입장
		</div>
		<div class="loadSen">
			<div>
				스마트폰,PC 의 고유아이디로 입장됩니다.
			</div>
			<div>
				철저하게 익명성이 보장되니 걱정말구	
			</div>
			<div>
				맘속에 예기를 꺼내보세요.
			</div>
			
		</div>
	</div>
	<div class="loadRain">
	</div>
	<div class="loadRain" style="left:38vw;animation:rain 3s 1s infinite linear;">
	</div>
	<div class="loadRain" style="left:43vw;animation:rain 3s 2s infinite linear;">
	</div>
	<div class="loadRain" style="left:60vw;animation:rain 3s infinite linear;">
	</div>
	<div class="loadRain" style="left:65vw; animation:rain 3s 1s infinite linear;">
	</div>
	<div class="loadRain" style="left:70vw;animation:rain 3s 2s infinite linear;">
	</div>
</div>
{% endblock %}
{% block script %} 
<script>
	
</script>
{% endblock %}