body{
	margin:0 auto;
	box-sizing:border-box;
	overflow:hidden;
}
.load *{
	display:flex;
	font-family: 'Gaegu', cursive;
}
.main *{
	display:flex;
	font-family: 'Gaegu', cursive;
}
.load{
	width:100vw;
	height:100vh;
	background:url(/photo/loadBG.jpg);
	background-size:100% 100%;
	
}
.loadMoon{
	position: absolute;
    background: url(/photo/loadMoon.png);
    background-size: 100% 100%;
    top: 10vh;
    left: 30vw;
    width: 100px;
    height: 11vh;
	animation:moon 5s infinite linear;
	z-index:2;
}
.loadBox{
	width:100vw;
	flex-direction:column;
}
.loadHead{
	font-weight: bold;
    font-size: 1.6rem;
    width: 100vw;
    height: 30vh;
    justify-content: center;
    align-items: flex-end;
}
.loadBtn{
	cursor: pointer;
    width: 100px;
    height: 60px;
    font-size: 1.4rem;
    font-weight: bold;
    color: aliceblue;
    margin-top: 38vh;
    justify-content: center;
    align-self: center;
    border: 1px solid white;
    align-items: center;
    background: steelblue;
    box-shadow: 2px 2px cornflowerblue;
    border-radius: 10px;
}
.loadSen{
	margin-top: 3vh;
    flex-direction: column;
    color: antiquewhite;
    text-shadow: 1px 0px;
}

.loadRain{
	background:url(/photo/loadRain.png);
	background-size:100% 100%;
	position:absolute;
	top:5vh;
	left:40vw;
	width:60px;
	height:60px;
	z-index:1;
	animation:rain 3s infinite linear;
}
@keyframes moon{
	0%{
		left:30vw;
		transform:scale(1) skewy(0deg);
	}
	25%{
		left:35vw;
		transform:scale(1.2) skewy(5deg);
	}
	50%{
		left:40vw;
		transform:scale(1) skewy(0deg);
	}
	75%{
		left:35vw;
		transform:scale(1.2) skewy(-5deg);
	}
	100%{
		left:30vw;
		transform:scale(1) skewy(0deg);
	}
}
@keyframes rain{
	0%{
		top:5vh;
	}
	20%{
		top:25vh;
	}
	40%{
		top:45vh;
	}
	60%{
		top:65vh;
	}
	80%{
		top:85vh;
	}
	100%{
		top:105vh;
	}
}


.main{
	background:url(/photo/mainBG.png);
	background-size:100% 100%;
	width:100vw;
	height:100vh;
}
.mainHead{
	width: 80vw;
    margin-left: 10vw;
    height: 20vh;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 3px 2px black;
    color: gold;
}
.mailbox{
	background:url(/photo/postbox.png);
	background-size:100% 100%;
	z-index:1;
	position: absolute;
    width: 10%;
    left: 2vw;
    height: 30%;
}
.letter{
	background:url(/photo/letter.png);
	background-size:100% 100%;
	z-index:1;
	position: absolute;
    width: 10%;
    right: 2vw;
    height: 30%;
}
.mainbird{
	background:url(/photo/mainBird.png);
	background-size:100% 100%;
	position:absolute;
	z-index:2;
	width:60vw;
	height:20vh;
	top:70vh;
	animation:mainB 4s infinite linear;
}
.write{
	background: url(/photo/sheet.png);
    background-size: 100% 100%;
    position: absolute;
    width: 98vw;
    height: 60vh;
    top: 30vh;
    left: 1vw;
    z-index: 3;
}
.list{
	
}
.letterBird{
	
}
.question{
	
}

@keyframes mainB{
	0%{
		transform:translateY(0px) skewx(0deg);
	}
	25%{
		transform:translateY(-5px) skewx(-3deg);
	}
	50%{
		transform:translateY(-10px) skewx(-6deg);
	}
	75%{
		transform:translateY(-5px) skewx(-3deg);
	}
	100%{
		transform:translateY(-0px) skewx(0deg);
	}
}
